<div class="card">
    <div class="card-header">
        Login Page
    </div>
    <div class="card-body">
        <form id="login_form">
            <input type="email" name="login_email" placeholder="Email" class="form-control">
            <input type="password" name="login_password" placeholder="Password" class="form-control">
            <button type="submit">Login</button>
        </form>
    </div>
</div>
