<div class="card">
    <div class="card-header">
        Register Page
    </div>
    <div class="card-body">
        <form id="register_form">
            <input type="text" name="register_name" placeholder="Name" class="form-control">
            <input type="text" name="register_email" placeholder="Email" class="form-control">
            <input type="password" name="register_password" placeholder="Password" class="form-control">
            <input type="password" name="register_repeat_password" placeholder="Repeat Password" class="form-control">
            <button type="submit" class="btn btn-dark">Register</button>
        </form>
    </div>
</div>
