<div class="card">
    <div class="card-header">
        Hello <span data-content="name"></span> (<span data-content="email"></span>), enter your search term
    </div>
    <div class="card-body">
        <form id="search_form">
            <input type="text" id="search_term" placeholder="Search Term" class="form-control" >
            <div class="row"></div>
            <div class="row"></div>
            <button type="submit" class="btn btn-dark float-right">Search</button>
        </form>
    </div>
    <div id="results_view"></div>
</div>
